html, body {
    height: 100%;
    background: #f2e6e7;
}

#root {
    width: inherit;
}

#app {
    border-radius: 10px;
    color: floralwhite;
    background-color: #424242;
    width: fit-content;
    max-width: 288px;
}

#display, #formula {
    text-align: right;
    font-family: monospace;
}

#display {
    height: 50px;
    font-size: 24px;
}

#formula {
    height: 20px;
    font-size: 18px;
    color: lightgrey;
}

.calc-btn {
  border-radius: 10px;
  width: 60px;
  height: 60px;
  background-color: seashell;
  border: 2px solid #f2ebe6;

  &:active {
      background-color: #f2ebe6;
  }
}

#button-container {
    display: grid;
    grid-template-areas:
    "ac ac mult div"
    "seven eight nine add"
    "four five six sub"
    "one two three eq"
    "zero zero dec eq";
    height: calc(100% - 60px);
    width: 100%;
}

#zero {
    grid-area: zero;
    width: 126px;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#multiply, #divide, #add, #subtract, #decimal{
    background-color: whitesmoke;
    &:active {
        background-color: #e8e8e8;
        border-color: #e8e8e8;
    }
}

#multiply {
    grid-area: mult;
}

#divide {
    grid-area: div;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: sub;
}

#equals {
    grid-area: eq;
    background-color: lightblue;
    border: 2px solid #9ac1ce;
    height: 126px;

    &:active {
        background-color: #9ac1ce;
    }
}

#decimal {
    grid-area: dec;
}

#clear {
    grid-area: ac;
    background-color: palevioletred;
    border: 2px solid #c66787;
    width: 126px;

    &:active {
        background-color: #c66787;
    }
}
